


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap:1.5rem;
}

@mixin form-btn{
    width: 100%;
    text-align: center;

    &:hover{
        background:black;
    }
}

@mixin white-btn {
    color:white;
    border-color:white;

    &:hover{
        background:black;
    }
    &::before{
        background:white;
    }
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top:4rem ;
    
    &::-webkit-scrollbar{
        width: 1rem;
        color: #FFA500;
    }

    &::-webkit-scrollbar-track{
        background: transparent;
     
    }

    &::-webkit-scrollbar-thumb{
        color: #FFA500;
        border-radius: 5rem;
    }
}

.section{
    padding: 5rem 9%;
}

.heading{
    padding-bottom: 2rem;
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    color: black;

      span{
        color: #FFA500;
      }
}







.btn{
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    padding: .8rem 2.8rem;
    border-radius: 5rem;
    border-top-left-radius: 0;
    border:2px solid black;
    cursor: pointer;
    background: none;
    color: black;
    font-size: clamp(1.2rem, 2vw, 1.7rem);
    overflow: hidden;
    z-index: 0;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        width: 100%;
        background: rgb(0, 0, 0);
        z-index: -1;
        transition: .2s linear;
        clip-path: circle(0% at 0% 5%);
     }  
     &:hover::before{
        clip-path: circle(100%);
     }

     &:hover{
        color:white;
        background-color: rgb(13, 13, 81);
     }
 }

 @keyframes fadeIn {
    0%{
        transform: translateY(3rem);
        opacity: 0;
    }
 
}



.header{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    transform: translateY(-10rem);

    &.active{
      transform: translateY(0rem);
    }

    .logo{
        font-size: 2.5rem;
        font-weight: bolder;
        color: black;
        i{
            color: #FFA500;
           }  
       } 

.navbar a{
    margin: 0 1rem;
    font-size: 1.7rem;
    color: grey;
    padding: 10px 20px;

    .navbar.active{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        padding: 10px 0;
        width: 100%; 
    }

    &:hover{
        color:#FFA500;
    }
   }
   .icons a, .icons div{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: black;
    cursor: pointer;
 
    &:hover{
     color: #FFA500;
    }
 }

 .login-form{
    position: absolute;
    top: 120%; right: 2rem;
    width: 35rem;
    border-radius: 1rem;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    font-size: clamp(2rem, 4vw, 3rem);
    display: none;

    
 &.active{
    display: block;
    animation: slideDown 0.4s ease-in-out;;
 }  

    h3{
        color: black;
        font-size: 2.5rem;
        padding-bottom: .5rem;
       } 
       .box{
        width: 100%;
        border-width: .1rem;
        border-bottom: 1px solid black;
        padding: 1.5rem 0;
        font-size: 1.6rem;
        color: black;
        text-transform: none;
        margin: 1rem 0;
    }
    .remember{
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 1rem 0;
    
     label{
        font-size: 1.5rem;
        cursor: pointer;
        color: grey;
     }
    }
    .btn{
        @include form-btn();
        margin: 1.5rem 0;

    }
    .links{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-top: 1rem;

        a{
            font-size: 1.4rem;
            color: #FFA500;
        
           &:hover{
            color: black;
            text-decoration: underline;
           } 
          }    
    }    
 }    
}

#menu-btn{
    display: none;
    
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background:#f5f5f5 url('images/dog-b.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-left: -400px;

    .content{
        width: 50rem;
    
       h3{
        font-size: 6rem;
        color: white;
        padding-bottom: 1rem;
    
       span{
        color: #FFA500;
       } 
       } 
       .btn{
        @include white-btn();
        }
        .shop-btn{
            display: inline-block;
            margin-left: 100px;
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 35%;
        
            padding: 10px;
            border-radius: 5rem;
            border-top-left-radius: 0;
            border:2px solid white;
            color: white;
            cursor: pointer;
            background: none;
            color: black;
            font-size: 1.7rem;
            overflow: hidden;
            z-index: 0;
            position: relative;
            text-align:center;
            font-weight: 500;
        
            &::before{
                content: '';
                position: absolute;
                top: 0; left: 0;
                height: 100%;
                width: 100%;
                background: orange;
                
                
                z-index: -1;
                transition: .2s linear;
                clip-path: circle(0% at 0% 5%);
             }  
             &:hover::before{
                clip-path: circle(100%);
               
             }
            }
            
       }
      }

       


.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 85px;
   
    

    .image{
        flex: 1 1 40rem;
         
        img{
            width: 100%;
        }
    }

    .content{
        flex: 1 1 40rem;
        
        h3{
            color: rgb(13, 13, 81);
            font-size: 4rem;
            font-family: poppins;
            margin-right: 170px;


        span{
                color: #FFA500;
            }
        }
        p{
            font-size: clamp(1.2rem, 1.8vw, 1.6rem);
            color:grey;
            padding: 1rem 0;
            line-height: 2;
            margin-right: 100px;

        }
    }

    .read-btn{
        display: inline-block;
         margin-left: 0px;
         margin-top: 1rem;
         margin-bottom: 1rem;
         width: 20%;
         /* width: 100%; */
         padding: 10px;
         border-radius: 5rem;
         border-top-left-radius: 0;
         border:2px solid black;
         color: white;
         cursor: pointer;
         background: none;
         color: black;
         font-size: 1.7rem;
         overflow: hidden;
         z-index: 0;
         position: relative;
         text-align:center;
         font-weight: 500;
       
         padding: 12px;
        text-align: center;

 &::before{
     content: '';
     position: absolute;
     top: 0; left: 0;
     height: 100%;
     width: 100%;
     background:#FFA500;
     
     
     
     z-index: -1;
     transition: .2s linear;
     clip-path: circle(0% at 0% 5%);
  }  
  &:hover::before{
     clip-path: circle(100%);
    
  }
}

}


.dog-food,
.cat-food{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin-top: 180px;

    .image{
        flex: 1 1 40rem;

        img{
            width: 100%;
        }
    }

    .content{
        flex: 1 1 40rem;
        text-align: center;
        padding: 2rem;

        h3{
            font-size: 3.5rem;
            color: black;

        span{
            color: #FFA500;
        }    

        }

        p{
            padding: 1rem 0;
            line-height: 2;
            color: grey;
            font-size: 1.6rem;
            margin-right: 100px;
            margin-left: 50px;

        }

        .amount{
            font-size: 3.5rem;
            color: black;
            padding: .5rem 0;
        }

        a{
            img{
                height: 15rem;
                margin-top: 1rem;
            }
            &:hover img{
                transform:rotate(15deg);
            }
        }
    }
}

.cat-food{
    flex-wrap: wrap-reverse;
}


.shop {
    padding: 2rem;
  }
  
    .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 2rem; /* Spacing between columns */


    .box-container:hover{
        transition: transform 0.3s ease-in-out;
    }
  }
  
    .box {
    text-align: center;
    position: relative;
    overflow: hidden;
    background: rgba(230, 227, 227, 0.879);
    border:1px solid grey;
    border-radius: 10px;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .box:hover {
        transform: translateY(-12px); /* Lift effect on hover */
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
      }
      

    .icons{
        position: absolute;
        top: 1rem;
        right: 2rem;
        z-index:10 ;
        transform: translateX(10rem);

            a{
                display: block;
                width: 5rem;
                height: 5rem;
                line-height: 5rem;
                font-size: 2.2rem;
                margin-top: 1rem;
                background: white;
                color: black;
                text-align: center;

               

            }
    }
 
  
    


    .box .image {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;

    .image:hover{
        transition: transform 0.3s ease-in-out;
    }
  }
  
    .box .image img {
    width: 100px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;

   
}
  
    .box h3 {
    font-size: 1.8rem;
    margin: 1rem 0 0.5rem;
    color: #333;
  }
  
    .box p {
    font-size: 1.4rem;
    color: #777;
  }
  
    .box span {
    font-size: 1.6rem;
    color: #555;
    font-weight: bold;
  }

  .content{
    padding: 1rem 0;
     
      h3{
        font-size: 2.2rem;
        color: black;
        padding-bottom: .5rem;
      }

      .amount{
        font-size:2.2rem;
        color:orange;
      }
}
  
} 
  

.services .box-container{

    margin-bottom: 3rem;
    padding: 30px;
    margin-right :-120px;

    .box{
        background: #eee;
        width:350px;
        height: 250px;
        margin-left: 10px;
        justify-content: center;
        margin-right: -470px;
        padding: 3rem;
        text-align: center;
        border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;


        &:nth-child(even){
            border-radius: 79% 21% 81% 19% / 58% 93% 7% 42%;
        }

        &:hover{
            border-radius: .5rem;
        }

        i{
            height: 6.5rem;
            width: 6.5rem;
            line-height: 6.5rem;
            font-size: 3rem;
            color: white;
            background: #FFA500;
            border-radius: 50%;
            margin-bottom: .5rem;

        }

        h3{
            font-size:2.2rem ;
            color: black;
            padding: 1rem 0;
        }

        .btn{
            width:160px;
            height:40px ;
            padding: 20px;
            
            .btn:hover{
                background-color:orange
                color: white;
            }
            
            .btn a{
                text-align: center;
                margin-top: -10px;
                justify-content: center;
            }
        }
    }
}


.plan .box-container{
    margin-bottom: 3rem;
    padding: 30px;
    margin-left: 90px;

    .box{
        position: relative;
        padding: 2rem;
        border-radius: .5rem;
        margin-bottom: 2erm;
        background: #eee;
        border:none;
        justify-content: center;
        
        margin-right: 100px;


        /* .btn{
            position: absolute;
            bottom: -2rem; right: 2rem;
            background: white;
            align-items: flex-end;
            margin-bottom: 30px;
            margin-left: -70px;
            margin-right: 30px;
            margin-top: 30px;
            padding: 3px;
            
        } */

        .title{
            text-align: center;
            color: #FFA500;
            font-size: 2rem;
        }

        .day{
            text-align: center;
            color: black;
            font-size: 3.5rem;
        }
        
        .icon{
            font-size: 5rem;
            color:#FFA500;
            padding : 2rem 0;
        }

        .list{
            margin: 1rem 0;        
        
        p{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.4rem;
           color: grey;
           float: left
           line-height:30px;

            span{
                color:#FFA500
            }
        }

        .amount{
            font-size: 5rem;
            font-weight: bolder;
            color: black;

            span{
                font-size: 3rem;
            }

        }
        
        }
        
    }
}


.contact{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

    .image{
        flex: 1 1 40rem;

        img{
            width: 100%;
        }
    }
    form{
        flex: 1 1 40rem;
        padding: 2rem 7%;
        margin-top: 20px;

        .btn{
            @include form-btn();
        }

        h3{
            font-size: 3rem;
            padding-bottom: 1rem;
            color: black;
        }

        .box{
            width: 100%;
            /* border-bottom: 1px solid #777;
            border-width: .1rem; */
            font-size: 1.6rem;
            text-transform: none;
            color: black;
            padding: 1.5rem 0;
            margin: 1rem 0;
            border: none;

        }
        
    }
}


















/* @media screen and (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 5rem 2rem;
       } 
     .home{
        justify-content: center;
        background-position: right;

         .content{
            text-align: center;
            padding-bottom: 5rem;
            margin-left: 300px;
            margin-top: -20px;

              h3{
                font-size:4.5rem ;
              }
         }
     } 
     .about{
        .read-btn{
            width: 40%;
         
         h3{
            margin-right: -100px;
            margin-left: -200px;
            font-size: 25px;
         }   
        }
     }  
}



 @media screen and (max-width:768px){

  #menu-btn{
    
    display: inline-block;
    float: left;
    
  }  
    .header{
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        .navbar{
            display: none;
            position: absolute;
            top: 99%; left: 0; 
            right: 0;
            padding: 1rem;
            background: white;
            clip-path: polygon(0 0,100% 0, 0 0);

            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                
             } 
             .icons{
                i{
                    font-size: 1.3rem;
                    justify-content: flex-start;
                }
             }

             

              a{
                display: block;
                margin: 2rem;
                font-size: 2rem;
              }
        }
        .navbar{
            display: none;
            padding-bottom: 10px;
            
        }
        .navbar.active{
            display: flex;
        }
    }
    .content{
        text-align: center;
        padding-bottom: 5rem;
        margin-top: -20px;

          h3{
            font-size:2rem ;
            left: 0;
           
          }
          
        }

        .shop .box-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            gap: 1.5rem;
        }
    }  
     .box{
            text-align: center;
     }
          
     








   @media screen and  (max-width:450px){
    html{
        font-size: 50%;
    } 
    .header .login-form{
        width: 90%;
     }  

     .box-container {
        grid-template-columns: 1fr; 
     }
    }   
    #menu-btn {
        display: inline-block;
      
      }

      .navbar {
        display: none;
      }

      .navbar.active {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        width: 100%;
        padding: 1rem;
      }
       
      .box-container {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 1rem;
      }
    
      .box {
        margin: 1rem 0;
      }

      .box .image img {
        width: 100%;
        height: auto;
        object-fit: cover;
      } */


/* .about-text h3{
   
    
    margin-left: -80px;
    font-size: 1.5rem;

    p{
        text-align: center;
        margin-left: 40px;
    }
    .read-btn{
        align-items: center;
        margin-left: 50px;
       }
} */







    
